#########################
# .gitignore file for OS X System
#########################

# Mac Os X
.DS_Store

# Emacs temporary files
*~

# ignore thefuck alias folder it's created when thefuck is installed
dotfiles/.config/thefuck

# ignore tmux plugins folder > ($TMUX_PLUGIN_MANAGER_PATH)
dotfiles/.config/tmux/plugins/

