[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	lg = log --oneline --graph
	ld = diff HEAD^..HEAD
	lga = log --oneline --abbrev-commit --all --graph --decorate --color --pretty=format:'%C(auto)%h%C(auto)%d %s %C(dim white)(%aN, %ar)'
        ci-undo = reset --soft HEAD~1
	rm-last-ci = reset --hard HEAD^
	stats = diff --stat
        sss = diff --shortstat
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
[status]
        submoduleSummary = true
[core]
	excludesfile = .gitignore
	editor = emacs
[user]
	email = jeoffrey.thirot@gmail.com
	name = Jeoffrey Thirot
